.header {
    color: red;
    font-size: x-large
}

.foto {
    width: 100%;
    text-align: center;
}

.inner{
    background-color: palegreen;
    text-transform: capitalize;
    text-align: right;
    line-height: 25px;
}

.ogloszenie{
    text-align: left;
    text-shadow: 1px 2px 3px;
    overflow: scroll;
    line-height: 100px;
}

